extends layout.pug

block content 
  link(rel='stylesheet', href='/stylesheets/search.css')
  body
    header
      .mobile-header
        button.nav-menu-button
          i.fas.fa-bars.fa-lg
        a.logo(href='../../')
          i.fas.fa-globe-africa
          h1 Jupiter Search
      form(method='GET', action='./search/')
        input(type=type, placeholder='Search...', value=value, disabled=disabled, required=true)
        button(type='submit')
          i.fas.fa-search
      p#phase-number #{phase}
    main#result-container
      block result
    if showImport
      include import.pug
    if scriptLocation
      script(src=scriptLocation)